@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.expense-row {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    margin-right: 5px;
  }
}